body{
  background-color: white;
}
.container{

}
#rownav{
  width: 100%;
  height: 150px;
  margin-bottom: 0;
  border-radius: 0;
  background-color: #FBACB9;
  color: white;
  margin-left: inherit;
  font-size: 16px;
  border: 0;
}
#rownav-colum{
  padding-left: 10%;
  margin-left: 50%;
}
#her_soiree_logo{
  height: 100px;
  width: 150px;
  box-shadow: 5px 5px 5px #f1b5f7;
  background-color: white;
  margin-left: 20px;
}

#row1{
  background-color: #c9acfb;
}
#row2{
  background-color: #c9acfb;
}

#row3A {
  font-size: 30px;
  text-align: center;
  color: white;
}
#row3{
  text-align: center;
  margin-top: 50px;
  margin-left: 10%;
  font-size: 20px;
}
#newher_soiree{
  background-color: #c699e0;
  border: 2px solid #263449;

  margin-left: 40%;
  margin-right: 50%;
  margin-bottom: 20px;
}
#home_button{
  background-color: #c699e0;
  border: 2px solid #263449;

  margin-right: 50%;
  margin-bottom: 20px;
}
#create-her_soiree{
  background-color: #c699e0;
  border: 2px solid #263449;

  margin-right: 50%;
  margin-bottom: 20px;
}
.container {
  margin: 10px auto;
}
#row4{
  background-color: #c9acfb;
  text-align: center;
  font-size: 25px;
}
#row4top{
  font-size: 50px;
  color: white;
}
#row4 img{
  max-width: 200px;
  max-height: 400px;
  padding-bottom: 5px;
  margin-left: 10%;
  margin-right: 50%;
}
#icon {
  max-width: 300px;
  max-height: 300px;
  margin-left: 10px;
  margin-right: 20px;
}
footer {
  width: 100%;
  background-color: #FBACB9;
  padding: 3%;
  color: #ffffff;
}
.fa {
  padding: 20px;
  font-size: 30px;
  color: #ffffff;
}
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
  #icon {
    max-width: 150px;
  }
  h2 {
    font-size: 1.7em;
  }
}
