body{
  background-color: white;
}
.container{

}
.navbar {
  width: 100%;
  margin-bottom: 0;
  border-radius: 0;
  background-color: #FBACB9;
  color: #f1b5f7;
  padding: 1% 0;
  font-size: 1.2em;
  border: 0;
}
#her_soiree_logo{
  height: 100px;
  width: 150px;
  box-shadow: 5px 5px 5px #f1b5f7;
  background-color: white;
  margin-left: 20px;
}
.navbar-brand {
  float: left;
  min-height: 55px;
  height: 100px;
  width: 150px;
  padding: 0 15px 15px;
}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
  color: #ffffff;
  background-color: #f1b5f7;
}
.navbar-inverse .navbar-nav li a {
  color: #f1b5f7;
}
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
}
.btn{
  font-size: 18px;
  color: #eff;
  padding: 12px 22px;
  background: #00077F;
  border: 2px solid #fff;
}
#row1{
  background-color: #c9acfb;
}
#row2{
  background-color: #c9acfb;
}

#row3A {
  font-size: 30px;
  text-align: center;
  color: white;
}
#row3{
  text-align: center;
  margin-top: 50px;
  margin-left: 10%;
  font-size: 20px;
}
#newher_soiree{
  background-color: #c699e0;
  border: 2px solid #263449;

  margin-left: 40%;
  margin-right: 50%;
  margin-bottom: 20px;
}
#home_button{
  background-color: #c699e0;
  border: 2px solid #263449;

  margin-right: 50%;
  margin-bottom: 20px;
}
#create-her_soiree{
  background-color: #c699e0;
  border: 2px solid #263449;

  margin-right: 50%;
  margin-bottom: 20px;  
}
.container {
  margin: 10px auto;
}
#row4{
  background-color: #c9acfb;
  text-align: center;
  font-size: 25px;
}
#row4top{
  font-size: 50px;
  color: white;
}
#row4 img{
  max-width: 200px;
  max-height: 400px;
  padding-bottom: 5px;
  margin-left: 10%;
  margin-right: 50%;
}
#icon {
  max-width: 300px;
  max-height: 300px;
  margin-left: 10px;
  margin-right: 10px;
}
footer {
  width: 100%;
  background-color: #FBACB9;
  padding: 3%;
  color: #ffffff;
}
.fa {
  padding: 20px;
  font-size: 30px;
  color: #ffffff;
}
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
  #icon {
    max-width: 150px;
  }
  h2 {
    font-size: 1.7em;
  }
}
